body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /* Para remover a barra de rolagem vertical */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
}

header div, header h2 {
    padding: 0 10px; /* Adicionando padding horizontal de 10px e padding vertical de 0 */
}

header h2{
    padding-top: 30px;
}

header .grupo{
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px); /* Subtraindo a altura do header */
}

.main_content-painelInfo, .main_content-painel {
    margin: 3px; /* Adicionando margem em todas as direções */
}

.main_conteudo-geral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px; /* Espaço entre os elementos */
    margin-bottom: 3px; /* Margem inferior */
    margin-left: 5px; /* Espaço à esquerda */
    margin-right: 5px; /* Espaço à direita */
    height: 100%;
}

.main_content-painelInfo {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 18%;
    padding: 5px;
    border: 3px double black;
    display: flex;
    flex-direction: column;
}

.main_content-painelInfo h2{
    text-align: center;
}

.opcaoDeDesenho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px groove black;
    justify-content: space-around;
    padding: 5px;
    font-weight: bold;
}

.aplicaFuncoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px groove black;
    justify-content: space-around;
    padding: 5px;
    font-weight: bold;
}

.informacoes{
    border: 3px groove black;
    margin-bottom: 3px;
    text-align: center;
}

.saidaDeInformacoes{
    height: 40%;
}

.saidaDeInformacoes h6{
    margin-bottom: 3px;
    margin-top: 2px;
}

.saidaDeInformacoes p{
    margin-bottom: 1px;
    margin-top: 2px;
}

.main_content-painel {
    background-color: #ddd;
    width: 78%;
    padding: 20px;
    border: 3px double black;
    height: 98;
}

.painel2D {
    margin: 3px; /* Margem de 5px em todas as direções */
    background-color: white; /* Fundo branco */
    height: calc(100% - 60px); /* Altura calculada para a margem de 5px em cima e embaixo */
    border: 1px dotted black;
}