

/* ***************************************** BODY ******************************************/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /* Para remover a barra de rolagem vertical */
}

/* ***************************************** HEADER ******************************************/
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
}

/*Título da página*/
header div, h1{
    padding: 0 10px; /* Adicionando padding horizontal de 10px e padding vertical de 0 */
}

/*Informações do grupo*/
.nomesMembros{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-bottom: 2px;
    margin-top: 0;
    padding-right: 15px;
    align-items: center;
}

/* ***************************************** MAIN ***************************************** */
.main{
    height: 100%;
    width: 100%;
    background-color: #9a9a9a;
}

/* ***************************************** DIV main_conteudo-geral ***************************************** */
.main_conteudo-geral{
    display: flex;
    flex-direction: row;
    margin-left: 5px; /* Espaço à esquerda */
    margin-right: 5px; /* Espaço à direita */    
}

/* ***************************************** SECTION main_conteudo_painelConfig ***************************************** */
.main_conteudo_painelConfig{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 18%;
    height: calc(97vh - 80px);
    padding: 5px;
    border: 3px double black;    
}

/* ************ DIV opcaoDeDesenho ************ */
.opcaoDeDesenho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

/* ************ DIV saidaDeCoordenadasTransformadas ************ */
.saidaDeCoordenadasTransformadas{
    margin-top: 5px;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
}

.saidaDeCoordenadasTransformadas h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.informacoes{
    border-top: 1px dashed #000;
}

.informacoes h6{
    margin-bottom: 2px;
    margin-top: 5px;
}

.informacoes p{
    margin-top: 2px;
    font-size: 12px;
    margin-bottom: 1px;
}

/* ******************* DIV configPanel2D ******************** */
.configPanel2D{
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.configPanel2D select {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ******************* DIV configPanel3D ******************** */
.configPanel3D{
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.configPanel3D select {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ****************** DIV configPanel2D_opcoes_pixel ****************** */
.configPanel2D_opcoes_pixel{
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.configPanel2D_opcoes_pixel h6{
    margin-top: 5px;
    margin-bottom: 12px;
}

.configPanel2D_opcoes_pixel input{
    width: 88%; /* Define a largura */
    height: 15px; /* Define a altura */ 
}

/* *************** DIV configPanel2D_opcoes_retas *************** */
.configPanel2D_opcoes_retas{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.configPanel2D_opcoes_retas h6{
    margin-top: 5px;
    margin-bottom: 12px;
}

.configPanel2D_opcoes_retas label {
    font-size: 14px; /* Define o tamanho da fonte desejado */
}

.configPanel2D_opcoes_retas_pontos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.configPanel2D_opcoes_retas_pontos input[type="number"]{
    width: 88%; /* Define a largura */
    height: 15px; /* Define a altura */ 
}

/*informações dos botoes*/
.botoesDeAtivarELimpar button{
    margin-top: 5px;
    width: 70px;
    height: 20px;
    border-radius: 7px;
    margin-bottom: 5px;
}

.botoesDeAtivarELimpar button:enabled {
    transition: background-color 0.3s ease;
}

.botoesDeAtivarELimpar button:hover:enabled{
    background-color: #333;
    color: white;
}

.ponto1, .ponto2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

/* ************ DIV configPanel2D_opcoes_circunferencias ************ */
.configPanel2D_opcoes_circunferencias{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.configPanel2D_opcoes_circunferencias h6{
    margin-top: 5px;
    margin-bottom: 12px;
}

.configPanel2D_opcoes_circunferencias input{
    width: 88%; /* Define a largura */
    height: 15px; /* Define a altura */ 
}

/* ***************** DIV configPanel2D_opcoes_elipse ***************** */
.configPanel2D_opcoes_elipse{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.configPanel2D_opcoes_elipse h6{
    margin-top: 5px;
    margin-bottom: 12px;
}

.configPanel2D_opcoes_elipse label {
    font-size: 14px; /* Define o tamanho da fonte desejado */
}

.configPanel2D_opcoes_elipse_pontos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.configPanel2D_opcoes_elipse_pontos input[type="number"]{
    width: 88%; /* Define a largura */
    height: 15px; /* Define a altura */ 
}


/* ************ DIV configPanel2D_opcoes_transformacoes ************ */
.configPanel2D_opcoes_transformacoes{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    padding-bottom: 10px;
}

.transformacoes2D:not(:first-child) {
    /*Aplicando a regra a todas as classes transformacoes2D(menos na primeira encontrada) */
    border-top: 1px dashed #000;
}

.transformacoes2D{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.transformacoes2D_sub{
    display: flex;
    flex-direction: row;
    justify-content: left; 
    text-align: center;
    margin-top: 5px;   
}

.transformacoes2D_sub label{
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.transformacoes2D_entradas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.transformacoes2D_entradas input[type="number"]{
    width: 60px; /* Define a largura */
    height: 15px; /* Define a altura */
}

/* ************ DIV configPanel3D_opcoes_transformacoes ************ */
.configPanel3D_opcoes_transformacoes{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    padding-bottom: 10px;
}

.transformacoes3D:not(:first-child){
     /*Aplicando a regra a todas as classes transformacoes3D(menos na primeira encontrada) */
     border-top: 1px dashed #000;
}

.transformacoes3D{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.transformacoes3D_sub{
    display: flex;
    flex-direction: row;
    justify-content: left; 
    text-align: center;
    margin-top: 5px;   
}

.transformacoes3D_sub label{
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.transformacoes3D_entradas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.transformacoes3D_entradas input[type="number"]{
    width: 30px; /* Define a largura */
    height: 15px; /* Define a altura */
}

/* ************ DIV configPanel3D_opcoes_projecoes ************ */
.configPanel3D_opcoes_projecoes{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projecoes3D{
    padding-bottom: 15px;
}

#btnAplicaProjecoes{
    display: block;
    margin: 0 auto;
}

/* ************ DIV configPanel2D_cohen-sutherland ************ */
.configPanel2D_cohen-sutherland{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 10px;

}

.configPanel2D_cohen-sutherland h6{
    margin-top: 12px;
    margin-bottom: 10px;
}
.configPanel2D_cohen-sutherland .inputRetas {
    align-items: center;
}

/* ****************** DIV configPanel2D_opcoes_batimentosCardiacos ****************** */
.configPanel2D_opcoes_BatimentosCardiacos{
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.configPanel2D_opcoes_BatimentosCardiacos h6{
    margin-top: 5px;
    margin-bottom: 12px;
}

.configPanel2D_opcoes_BatimentosCardiacos input{
    width: 88%; /* Define a largura */
    height: 15px; /* Define a altura */ 
}

/* ***************************************** SECTION main_conteudo-painelDesenho ***************************************** */
.main_conteudo-painelDesenho{
    background-color: white; /* Fundo branco */
    height: calc(98.3vh - 80px);
    width: 100%;
    border: 3px double black;
    margin-left: 5px;
    position: relative; /* Adiciona position relative para controlar a posição dos filhos */
}

#canvas, #canvas3D {
    width: 100%;
    height: 100%;
    position: absolute; /* Posiciona os canvases absolutamente dentro da seção pai */
    top: 0;
    left: 0;
}

/* ***************************************** SECTION main_Saida-Dados ***************************************** */
.main_Saida-Dados{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 16%;
    margin-left: 5px;
    height: calc(97vh - 80px);
    padding: 5px;
    border: 3px double black;  
}

/* ************ DIV saidaViewPort ************ */
.saidaViewPort{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    margin-bottom: 5px;
}

.saidaViewPort h4{
    margin-top: 2px;
    margin-bottom: 2px;
}

/* **** DIV delimitacaoViewPort **** */
.delimitacaoViewPort{
    background-color: white; /* Fundo branco */
    /*height: calc(98.3vh - 80px);*/
    height: 80%;
    width: 100%;
    border: 3px double black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

/* ************ DIV saidaDeInformacoesGerais ************ */
.saidaDeInformacoesGerais{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    border: 2px solid #000;
    text-align: center;
    margin-top: 11px;
}

.saidaDeInformacoesGerais h4{
    margin-top: 2px;
    margin-bottom: 2px;
}

/* **** DIV demilitacaoTextarea **** */
.demilitacaoTextarea{
    width: 100%;
    height: 100%;
    overflow-x: auto; /* Adiciona barra de rolagem horizontal conforme necessário */
    overflow-y: auto; /* Adiciona barra de rolagem vertical conforme necessário */
}

#textareaSaidaDeDados {
    width: 99%; /* O textarea ocupa toda a largura da div pai */
    height: 98%; /* O textarea ocupa toda a altura da div pai */
    resize: none; /* Impede da textarea seja redimensionada pelo usuário*/
    /*pointer-events: none; Impede que o usuário digite/modifique algo na textarea*/
    background-color: #9a9a9a;
    color: #000;
    padding: 0; /* Removendo qualquer preenchimento interno */
    margin: 0; /* Removendo qualquer margem */
    white-space: nowrap; /* Impede que o texto quebre em novas linhas */
}
/* Ocultar a barra de scroll pra economizar espaço (Nao desativa, apenas oculta)*/
#textareaSaidaDeDados::-webkit-scrollbar {
    display: none;
}

/*Desativa a borda de seleção de textarea*/
#textareaSaidaDeDados:focus {
    outline: none;
}

#btnLimparSaidaTextarea{
    margin-top: 1px;
    margin-bottom: 5px;
}

/* ***************************************** SECTION canvasContainer e canvasModal ***************************************** */


/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3; /* Aumentando z-index para sobrepor o canvas */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    position: relative; /* Adicionando posição relativa */
}

.close {
    color: #aaa;
    position: absolute; /* Posição absoluta */
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para o canvas */
.canvas-container {    
    display: none;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    overflow: auto;
    background-color: #fff;    
}

.canvas-container canvas {
    display: block;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
}

#fecharCanvas {
    position: absolute;
    top: 1px; /* ajuste a distância do topo conforme necessário */
    right: 1px; /* ajuste a distância da esquerda conforme necessário */
    color: red;
    background-color: transparent;
    font-weight: bold;
    border-radius: 40%;
    border: none;
}

#fecharCanvas:hover{
    color: black;
    background-color: red;
}